<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.pageTitle %></title>
    <meta name="description" content="<%= locals.pageDescription %>" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layouts/Header.css" />
    <link rel="stylesheet" href="/css/layouts/Footer.css" />
  </head>
  <body>
    <div class="container">
      <%- include("../partials/Header") %>
      <%- body %>
      <%- include("../partials/Footer") %>
    </div>
  </body>
</html>
